<form>
  <h3>{{ title }}</h3>
  <div>
    <input type="text"/>
    <button data-on-click="changeTitle">change title</button>
  </div>
  {{!--
  <div id="field">
    {{component 'components/molecules/Field' field }}
  </div>
  <div id="buttons">
    {{component 'components/molecules/Buttons' buttons }}
  </div>
  --}}
</form>