{
  "presets": ["env"],
  "plugins": [
    "syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "views": "./src/views"
        }
      }
    ]
  ]
}
