<div>
  <h2>{{title}}</h2>
  <div>
    <button data-on-click="changeTitle">change title</button>
  </div>
  <div id="form">
    {{!-- {{component 'components/organisms/Form' form }} --}}
  </div>
</div>