<div>
  <h1>{{ state.title }}</h1>
  <ul>
    <li>
      <a data-route-link="/">Home</a>
    </li>
    <li>
      <a data-route-link="/about">About</a>
    </li>
  </ul>
  <div data-route-page="">
    {{ safeString page }}
  </div>
</div>