<div>
  <h1>{{ title }}</h1>
  <div>
    <button data-on-click="changeTitle">change title</button>
  </div>
  <ul>
    <li>
      <a data-route-link="/">Home</a>
    </li>
    <li>
      <a data-route-link="/about">About</a>
    </li>
  </ul>
  <div id="page">
    {{component page.pathname page }}
  </div>
</div>